
/* SCROLL */
#CFXTable {
   #scroll-section {
     display: flex;
     width: 100%;
     justify-content: space-between;
   }
 
   #scroll-wrapper {
     background-color: #f2f2f2;
     align-self: flex-end;
     height: 40px;
     width: 710px;
     border-radius: 3px;
     padding: 2px 2px;
   }
 
   #scroll-cursor {
     height: 100%;
     width: 50px;
     opacity: 0.2;
     background-color: #727a97;
     border-radius: 3px;
     position: relative;
     cursor: grabbing;
   }
 }