@font-face {
   font-family: 'Roboto Mono';
   src: url(../../assets/fonts/RobotoMono-VariableFont_wght.ttf);
}

/* Variables */
$primary-bg-color: #fff;
$table-bg-color: #f6f7f8;
$border-color: #d6e0ef;

$font-size: 11px;
$row-height: 35px;
$cell-width: 90px;



/* Table styling */
.cf-table-wrap {
   background-color: $primary-bg-color;
   box-shadow: 4px 4px 8px 4px #e9e9e9;
}

/* COMMANDS */
#CFXTable {
   .commands {
      height: 45px;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: row;
      background-color: #e1e1e1;
      padding: 5px 15px;
      gap: 11px;



      .button-group {
         display: flex;
         align-items: center;
         flex-direction: row;
         flex-wrap: wrap;
         padding: 1px 15px;
         gap: 11px;

         &:not(:last-child) {
            padding-right: 29px;
            border-right: 1px solid #bbc1d3;
         }

         .label {
            font-size: 10px;
            align-self: flex-start;
         }

         .button {
            background-color: #cdcdcd;
            width: 25px;
            height: 25px;
            border-radius: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover {
               background-color: #b5b5b5;
            }

            &:active {
               background-color: #8c8c8c;

            }

         }
      }

   }
}

#CFXTable {
   font-size: $font-size;
   font-family: 'Roboto Mono';


   .row,
   .row>*,
   .col,
   .col>* {
      all: unset;
      box-sizing: border-box;
   }

   .table-container {
      margin: 0px 0px;
      margin: 5px 5px 20px 5px;
   }

   .table-layout {
      display: grid;
      grid-template-columns: 270px 1fr;
      grid-template-areas: "row-head-area cf-area";
   }

   .table-header {
      display: flex;
      align-items: end;
      min-height: 45px;
      border-bottom: 0.5px solid $border-color;
      position: sticky;
      top: 0px;
      padding-bottom: 3px;

      .row-name {
         // font-weight: bold;
      }

      .total {
         align-items: end !important;
      }

      .row {
         align-items: end;

         &:hover {
            background-color: unset;
         }
      }

   }


}

/* ROW */
#CFXTable {
   .row {
      display: flex;
      align-items: center;
      min-height: $row-height;

      &:hover,
      &.hovered {
         background-color: $table-bg-color;
      }

      &:hover .row-head-details {
         opacity: 1;
      }



      .row-style-total {
         border-top: 2px solid #eee;
         font-weight: 600;
         background-color: #f6f6f6;
      }
   }



   .row-head {
      grid-area: row-head-area;
      display: grid;
      grid-auto-flow: row;

      box-shadow: 1px 2px 10px -2px rgb(0 0 0 / 12%);
      clip-path: inset(0px -15px 0px 0px);
      border-right: solid 1px #f0f0f0;

      .row-start-cell {
         width: 20px;
      }

      .row-name {
         margin-right: auto;

         input {
            all: unset;
            line-height: 20px;
            border-bottom: 1px dotted rgb(188, 188, 188);
            width: 90%;
            margin-bottom: -2px;

         }

         input:focus_visible {
            all: unset;
         }

      }

      .add-row {
         width: 20px;
         height: 20px;
         position: relative;
         top: 10px;
         left: 0;
         margin-bottom: -10px;
         background-color: transparent;

         &:hover {
            background-color: #d4d4d4;
            border-radius: 100%;
         }

         &:hover::after {
            content: "+";
            position: relative;
            left: 4px;
            top: -7px;
            color: #727a97;
            font-size: 20px;
         }
      }

      .row-command {
         display: inline-flex;
         padding: 0px 8px;
         height: 100%;
         justify-content: center;

         &>i {
            align-self: center;
            font-size: 1.3em;


         }

         &:hover {
            background-color: #f4f4f4;
         }

         &.row-edit {
            margin-right: 3px;
         }

         &.row-delete {
            color: rgb(138, 35, 35);
         }
      }

      .row-head-details {
         opacity: 0;
      }


      .total {
         display: flex;
         width: 50px;
         text-align: right;
         align-items: center;
         // background-color: #f7f7f7;
         height: 100%;
         justify-content: end;
         padding-right: 5px;

         font-weight: bold;

      }


   }
}

/* CF */
#CFXTable {
   .cf {
      display: grid;
      grid-auto-flow: row;
      grid-area: cf-area;
      column-gap: 3px;
      overflow-x: scroll;

      &::-webkit-scrollbar{
         display: none;
      }

      .col {
         width: $cell-width;
         text-align: right;
         padding-right: 2px;

         &.date {
            display: flex;
            flex-direction: column;

            .year {
               color: #727a97;
               font-size: 10px;
            }

            .date-period {
               // color: #8c8c8c;
            }
         }
      }

      .cell {

         input {
            line-height: 20px;
            border-bottom: 1px dotted rgb(188, 188, 188);
            width: 90%;
            margin-bottom: -2px;
         }

         

         &:focus {
            border: 1px solid #81a3e4;
            box-shadow: 0px 0px 4px 0px rgb(28 109 220 / 37%);
         }
      }

   }

   span {
      vertical-align: middle;

      &.negative-number {
         color: #b01414
      }
   }
}

// UTILS
#CFXTable {

   .hidden{
      display: none !important;
   }
}
